<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="de.baumato.jobs.builder.e4.example"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/de.baumato.jobs.builder.e4.examples/css/default.css">
         </property>
         <property
               name="appName"
               value="de.baumato.jobs.builder.e4.example">
         </property>
      </product>
   </extension>

</plugin>
